<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link"  [routerLink]="['/home']">Home</a>
      <a class="nav-item nav-link"  [routerLink]="['/filiais/list']">Filiais</a>
      <a class="nav-item nav-link"   [routerLink]="['/recursos/list']">Recursos</a>
      <a class="nav-item nav-link"   [routerLink]="['/usuario/list']">Usuários</a>
      <a class="nav-item nav-link"   [routerLink]="['/votacao/list']">Votação</a>
      <a class="nav-item nav-link"   [routerLink]="['/login']">Logout</a>
  </div>
</nav>


