<!--<div class="container container-fluid">
    <div class="row">
        <app-menu></app-menu>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>-->
<!-- main app container -->
<div>
<div class="row">
    <div class="col-sm-12">
        <app-alert></app-alert>
       <!--<app-alert></app-alert>-->
        <router-outlet></router-outlet>
    </div>
</div>
</div>

<!--<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <app-alert></app-alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>-->